<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cuhk Marketplace" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cuhk Marketplace">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>


    <%# JS library for linear two sided slider %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.js"></script>


    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= form_with url: search_path, method: :get, local: true, class: "flex gap-2" do %>
      <%= text_field_tag :q, params[:q], placeholder: "Search items…", class: "form-control" %>
      <%= select_tag :scope,
            options_for_select([["All CUHK","all"], ["My College","college"]], selected: params[:scope]),
            class: "form-select" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <%= yield %>
  </body>
</html>
